body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.bold {
  font-weight: bold;
}

.title {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

.card_restaurant_badge, .card_onboarding .nb_onboarding, .list, .container_presentation, .container_localisation, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #2d3436;
  padding: 20px;
  color: #ebebeb;
}
footer h3 {
  margin: 0;
}
footer ul {
  padding: 0px;
}
footer li {
  list-style: none;
  font-weight: 500;
  margin-bottom: 8px;
}
footer .fa-solid {
  margin-right: 10px;
  font-size: 12px;
}
footer a {
  text-decoration: none;
  color: #ebebeb;
}

.container_localisation {
  background-color: #ebebeb;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.2);
}

.container_presentation {
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  padding: 48px;
}
.container_presentation h2, .container_presentation span {
  text-align: center;
  margin: 0;
}
.container_presentation span {
  margin-top: 5px;
  margin-bottom: 30px;
  color: rgb(133, 133, 133);
}

.btn {
  padding: 15px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  background: #9356DC;
  background: linear-gradient(162deg, #FF79DA 17%, #9356DC 65%);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 1s ease;
}
.btn:hover {
  background: linear-gradient(162deg, #ff93e1 17%, #a16be0 65%);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4), 0 0 0px rgba(0, 0, 0, 0.2);
}

.container, .container--alt {
  padding: 45px 20px;
}
.container h2, .container--alt h2 {
  margin: 0;
}
.container--alt {
  background-color: rgb(248, 248, 248);
}

.list {
  flex-direction: column;
}
@media screen and (min-width: 769px) {
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
  }
}

.card_onboarding {
  width: 80%;
  background-color: rgb(248, 248, 248);
  padding: 30px;
  border-radius: 25px;
  margin-top: 30px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.2);
  transition: background-color 0.8s ease, box-shadow 0.8s ease;
  display: flex;
  align-items: center;
}
.card_onboarding_picto {
  display: flex;
  position: relative;
  right: 40px;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
.card_onboarding .nb_onboarding {
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  color: white;
}
.card_onboarding .fa-solid {
  font-size: 20px;
  color: #797979;
}
.card_onboarding:hover {
  background-color: #f2eafb;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.2);
}
.card_onboarding:hover .fa-solid {
  color: #9356DC;
}

.card_restaurant {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 250px;
  background-color: white;
  margin-top: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.card_restaurant_header {
  height: 70%;
}
.card_restaurant_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card_restaurant_footer {
  height: 30%;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_restaurant_footer p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}
.card_restaurant_footer .fa-regular {
  font-size: 20px;
  color: #797979;
}
.card_restaurant_footer .fa-regular:active {
  display: none;
}
.card_restaurant_footer .fa-solid {
  display: none;
}
.card_restaurant_badge {
  background-color: #99E2D0;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 0px;
  border-radius: 2px;
  position: absolute;
  right: 30px;
  margin-top: 10px;
  color: #278870;
  width: 70px;
}

/*# sourceMappingURL=style.css.map */
