body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.btn__about {
  padding: 15px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  background: #9356DC;
  background: linear-gradient(162deg, #FF79DA 17%, #9356DC 65%);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 1s ease;
}
.btn__about:hover {
  background: linear-gradient(162deg, #ff93e1 17%, #a16be0 65%);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4), 0 0 0px rgba(0, 0, 0, 0.2);
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bullet {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
header {
  padding: 20px;
}

.title {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

.about {
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  padding: 48px;
}
.about h2, .about span {
  text-align: center;
  font-weight: bold;
}
.about span {
  margin-top: 5px;
  margin-bottom: 30px;
  color: rgb(133, 133, 133);
}

footer {
  background-color: #2d3436;
  padding: 20px;
  color: #ebebeb;
}
footer li {
  font-weight: 500;
  margin-bottom: 8px;
}
footer .fa-solid {
  margin-right: 12px;
  font-size: 12px;
}
footer a {
  color: #ebebeb;
}

.onboarding {
  padding: 45px 20px;
}
.onboarding__list {
  flex-direction: column;
}
.onboarding__card {
  width: 80%;
  background-color: rgb(248, 248, 248);
  padding: 30px;
  border-radius: 25px;
  margin-top: 30px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.2);
  transition: background-color 0.8s ease, box-shadow 0.8s ease;
  display: flex;
  align-items: center;
}
.onboarding__card--picto {
  display: flex;
  position: relative;
  right: 40px;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}
.onboarding__card .nb_onboarding {
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  color: white;
}
.onboarding__card .fa-solid {
  font-size: 20px;
  color: #797979;
}
.onboarding__card:hover {
  background-color: #f2eafb;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.2);
}
.onboarding__card:hover .fa-solid {
  color: #9356DC;
}

.restaurant {
  padding: 45px 20px;
  background-color: rgb(248, 248, 248);
}
.restaurant__list {
  flex-direction: column;
}
.restaurant__card {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 250px;
  background-color: white;
  margin-top: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.restaurant__card__header {
  height: 70%;
}
.restaurant__card .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__card__footer {
  height: 30%;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurant__card__footer p {
  font-weight: bold;
  font-size: 18px;
}
.restaurant__card__footer .fa-regular {
  font-size: 20px;
  color: #797979;
}
.restaurant__card__badge {
  background-color: #99E2D0;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 0px;
  border-radius: 2px;
  position: absolute;
  right: 30px;
  margin-top: 10px;
  color: #278870;
  width: 70px;
}

.loader {
  background: rgb(248, 248, 248);
  color: white;
  -webkit-text-stroke: 1px #2d3436;
  width: 100%;
  height: 100%;
  font-family: Shrikhand, sans-serif;
  position: fixed;
  z-index: 9999;
  animation: loader 2s ease 3s forwards;
}
.loader__bullets {
  display: flex;
  margin-left: 10px;
  -webkit-text-stroke: 0px;
}
.loader__bullets h1:nth-child(1) {
  color: #9356DC;
  animation: bullet 1s ease infinite alternate;
}
.loader__bullets h1:nth-child(2) {
  color: #FF79DA;
  animation: bullet 1s ease 0.5s infinite alternate;
}
.loader__bullets h1:nth-child(3) {
  color: #99E2D0;
  animation: bullet 1s ease 1s infinite alternate;
}

body {
  font-family: "Roboto", sans-serif;
}

.bold {
  font-weight: bold;
}

.localisation, header, .about, .onboarding__list, .onboarding__card .nb_onboarding, .restaurant__list, .restaurant__card__badge, .loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.localisation {
  background-color: #ebebeb;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */
