@media screen and (min-width: 1024px) { 
    .onboarding{
        &__list{    
            justify-content: space-around !important;
            flex-direction: row !important  ;
        }
        &__card{
            width: 25% !important;  
        }
    }
    .restaurant{
        &__list{
            justify-content: space-around !important;
            flex-direction: row !important  ;
        }
        &__card{
            width: 24% !important;
        }
    }
    .main_menu{
        padding: 20px 60px !important;
    }
    .menu{
        &__card{
            width: 80% !important;
        }
        
    }
 }