@import "reset.scss", "variables.scss", "btn.scss", "mixin.scss", "keyframes.scss", "heart.scss";
@import "Layout/header.scss", "Layout/about.scss", "Layout/footer.scss", "Layout/onboarding.scss", "Layout/restaurant.scss", "Layout/loader.scss", "Layout/menu.scss";

body{
    font-family: 'Roboto', sans-serif;
    background-color: $grey;
}

.bold{
    font-weight: bold;
}

%flexbox_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.localisation{
    @extend %flexbox_center;
    background-color: darken($grey, 5);
    box-shadow: 0 -5px 5px rgb(0 0 0 / 20%), 0 0 0px rgb(0 0 0 / 20%);
    padding: 20px
}
  