body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.bold{
    font-weight: bold;
}

.title{
    font-family: 'Shrikhand', cursive;
}

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$grey: rgb(248, 248, 248);

%flexbox_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    @extend %flexbox_center;
}

.container_localisation{
    @extend %flexbox_center;
    background-color: darken($grey, 5);
    box-shadow: 0 -5px 5px rgb(0 0 0 / 20%), 0 0 0px rgb(0 0 0 / 20%)
}

.container_presentation{
    @extend %flexbox_center;
    flex-direction: column;
    background-color: $grey;
    padding: 48px;

    h2, span{
        text-align: center;
        margin: 0;
    }
    span{
        margin-top: 5px;
        margin-bottom: 30px;
        color: rgb(133, 133, 133);
    }
}

.btn{
    padding: 15px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    background: $primary;
    background: linear-gradient(162deg, $secondary 17%, $primary 65%);
    box-shadow: 0 5px 5px rgb(0 0 0 / 20%), 0 0 0px rgb(0 0 0 / 20%);
    transition: box-shadow 1s ease;

    &:hover{
        background: linear-gradient(162deg, lighten($secondary, 5) 17%, lighten($primary, 5) 65%);
        box-shadow: 0 8px 15px rgb(0 0 0 / 40%), 0 0 0px rgb(0 0 0 / 20%);
    }
}

.container{
    padding: 45px 20px;
    h2{
        margin: 0;
    }
}

.list{
    @extend %flexbox_center;
    flex-direction: column;
}

.card_onboarding{
    width: 80%;
    background-color: $grey;
    padding: 30px;
    border-radius: 25px;
    margin-top: 30px;
    box-shadow: 0 5px 5px rgb(0 0 0 / 20%), 0 0 0px rgb(0 0 0 / 20%);
    transition: background-color .8s ease, box-shadow .8s ease;
    display: flex;
    align-items: center;

    .contenu_card_onboarding{
        display: flex;
        position: relative;
        right: 40px;
        justify-content: space-between;
        align-items: center;
        width: 25%;
    }
    .nb_onboarding{
        @extend %flexbox_center;
        background-color: $primary;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        color: white;
    }
    .fa-solid{
        font-size: 20px;
        color: darken($grey, 50);
    }

    &:hover{
        background-color: lighten($primary, 35);
        box-shadow: 0 10px 15px rgb(0 0 0 / 20%), 0 0 0px rgb(0 0 0 / 20%);

        .fa-solid{
            color: $primary;
        }
    }
}

