.menu_header{
    @extend %flexbox_center;

    .arrow {
        position: absolute;
        left: 20px;
        font-size: 22px;
    }
}

.menu_img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.main_menu{
    background-color: $grey;
    position: relative;
    top: -50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 20px;

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .checked_heart {
            display: none;
        }
        .checked_heart:checked + label > i {
            background: $primary;
            background: linear-gradient(162deg, $secondary 17%, $primary 65%);
            -webkit-background-clip: text;
            -webkit-text-fill-color:transparent;
            font-weight: bold;
        }
    }

    &__body{
        margin-top: 20px;
    }

    .menu{
        margin-bottom: 20px;
        &__title{
            text-transform: uppercase;
            color: darken($grey, 60);
            .underline {
                width: 45px;
                border: 1px solid $tertiary;
                background-color: $tertiary;
            }
        }
        &__list{
            @extend %flexbox_center;
            margin-top: 15px;
            flex-direction: column;
        }
        &__card{
            @include card-shadow;
            width: 100%;
            background-color: white;
            border-radius: 15px;
            margin-bottom: 15px;
            animation: card_menu 2s ease;
            transition: padding-right 450ms ease-in-out;
            display: flex;
            .content{
                padding: 15px 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
            }
            .details{
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                    font-weight: bold;
                }
                p{
                    padding-top: 5px;
                    text-overflow: ellipsis;
                    overflow : hidden;
                    width: 90%;
                }
            }   
            .add{
                display: none;
                justify-content: center;
                align-items: center;
                background-color: $tertiary;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                width: 5%;
                color: white;
                .fa-circle-check{
                    font-size: 24px
                }
            }
            &:hover .add{
                display: flex;
                animation: hover_width 1s ease-in-out;
                width: 20%;
                .fa-circle-check{
                    animation: circle_rotate 1s ease-in-out;
                }
            }
            
        }
    }
    &__footer{
        @extend %flexbox_center;
        margin-top: 10%;
    }
}

