.restaurant{
    @include layout-padding;
    background-color: $grey;
    &__list{
        @extend %flexbox_center;
        flex-direction: column;
    
    }
    &__card{
        @include card-shadow();
        width: 100%;
        height: 200px;
        background-color: white;
        margin-top: 15px;
        border-radius: 15px;
        cursor: pointer;
    
        &__header{
            position: relative;
            height: 70%;
        }
        .img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        &__footer{
            height: 30%;
            padding: 0px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                font-weight: bold;
                font-size: 18px;
            }
        }
        &__badge{
            @extend %flexbox_center;
            background-color: $tertiary;
            font-size: 12px;
            font-weight: bold;
            padding: 8px 0px;
            border-radius: 2px;
            position: absolute;
            right: 20px;
            margin-top: 10px;
            color: darken($tertiary, 40);
            width: 70px;
        }
        .checked_heart {
            display: none;
        }
        .checked_heart:checked + label > i {
            background: $primary;
            background: linear-gradient(162deg, $secondary 17%, $primary 65%);
            -webkit-background-clip: text;
            -webkit-text-fill-color:transparent;
            font-weight: bold;
        }
    }
}